<div class="users-layout">
  <ul>
    <li *ngFor="let user of users" (click)="toggleDescription(user)">
      <div class="user-info">
        Nom: {{ user.name }} Email: {{ user.email }}
      </div>
      <div class="actions">
        <button (click)="toggleModification(user); $event.stopPropagation()">
          Modifier
        </button>
        <button (click)="deleteUser(user); $event.stopPropagation()">
          Supprimer
        </button>
      </div>
    </li>
  </ul>
  <app-user-description
    *ngIf="selectedUser && showDescription"
    [user]="selectedUser"
    (closeDescription)="showDescription = false"
    class="user-description-panel"
  ></app-user-description>
</div>
<app-user-modification
  *ngIf="selectedUser && showModification"
  [user]="selectedUser"
  (closeModification)="showModification = false"
  class="user-description-panel"
></app-user-modification>
