<div class="users-layout">
  <ul>
    <li *ngFor="let user of users" (click)="toggleDescription(user)">
      Nom: {{ user.name }} Email: {{ user.email }} Reservations: {{ user.reservations?.length ?? 0 }}
      <button (click)="toggleModification(); $event.stopPropagation()">
        Modifier
      </button>
    </li>
  </ul>
  <app-user-description
    *ngIf="selectedUser && showDescription"
    [user]="selectedUser"
    class="user-description-panel"
  ></app-user-description>
</div>
<app-user-modification *ngIf="showModification"></app-user-modification>
