<div class="users-layout">
  <ul>
    <li *ngFor="let user of users" (click)="toggleDescription(user)">
      Nom: {{ user.name }} Email: {{ user.email }} Reservations: {{ user.reservations?.length ?? 0 }}
      <button (click)="toggleModification(user); $event.stopPropagation()">
        Modifier
      </button>
    </li>
  </ul>
  <app-user-description
    *ngIf="selectedUser && showDescription"
    [user]="selectedUser"
    (closeDescription)="showDescription = false"
    class="user-description-panel"
  ></app-user-description>
</div>
<app-user-modification
  *ngIf="selectedUser && showModification"
  [user]="selectedUser"
  (closeModification)="showModification = false"
  class="user-description-panel"
></app-user-modification>
