<div class="dialog-content">
  <h2 mat-dialog-title>Réserver la place {{ data.spotId }}</h2>
  
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Date de début</mat-label>
          <input matInput [matDatepicker]="startPicker" formControlName="startDate"
                 [min]="minDate" [matDatepickerFilter]="dateFilter" [readonly]="true"
                 (click)="startPicker.open()">
          <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
          <mat-error *ngIf="reservationForm.get('startDate')?.hasError('required')">
            Date de début requise
          </mat-error>
          <mat-error *ngIf="reservationForm.get('startDate')?.hasError('dateUnavailable')">
            Cette date n'est pas disponible
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Date de fin (max {{maxEndDate | date:'dd/MM/yyyy'}})</mat-label>
          <input matInput [matDatepicker]="endPicker" formControlName="endDate"
                 [min]="reservationForm.get('startDate')?.value || minDate" 
                 [max]="maxEndDate"
                 [matDatepickerFilter]="dateFilter" [readonly]="true"
                 (click)="endPicker.open()">
          <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
          <mat-error *ngIf="reservationForm.get('endDate')?.hasError('required')">
            Date de fin requise
          </mat-error>
          <mat-error *ngIf="reservationForm.get('endDate')?.hasError('dateUnavailable')">
            Cette date n'est pas disponible
          </mat-error>
        </mat-form-field>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="onCancel()">Annuler</button>
      <button mat-raised-button color="primary" type="submit" 
              [disabled]="!reservationForm.valid">
        Réserver
      </button>
    </mat-dialog-actions>
  </form>
</div>