<div class="page-container">
  <div class="parking-map-container">
    <h2>🅿️ Parking Map</h2>

    <div class="parking-rows" *ngFor="let row of parkingRows">
    <div class="parking-row">
      <div class="spots">
        <div
          *ngFor="let spot of row.spots"          class="spot"
          [ngClass]="{
            'charger': row.label === 'A' || row.label === 'F',
            'selected': selectedSpot === spot.id,
            'reserved': getSpotStatus(spot.id) === 'reserved'
          }"
          (click)="selectSpot(spot.id)"
        >          <ng-container *ngIf="getSpotStatus(spot.id) !== 'reserved'; else reserved">
            <span>{{ spot.id }}</span>
          </ng-container>

          <ng-template #reserved>
            <small>{{ spot.id }}</small>
          </ng-template>        </div>
      </div>
    </div>
  </div>

  <div class="qr-code-section" *ngIf="currentReservation">
    <div class="qr-code-container">
      <h3>Ma réservation du jour</h3>
      <div class="reservation-details">
        <p>Place : {{currentReservation.reservation.slotId}}</p>
        <img [src]="currentReservation.qrCode" alt="QR Code de réservation" />
      </div>
    </div>
  </div>
</div>
